body{
  background-color: rgba(206, 250, 206, 0.1);
  margin: 0;
  font-family: 'Sans';
  background-image: url(/fading-blue-background.jpg);
}
main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vh;
}
.hero{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(206, 250, 206, 0.5);
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;

}
.hero h1{
  font-size: 50px;
}
img {
  width: max-content;
  height: 20vh;
}
.form{
  background-color: rgba(206, 250, 206, 0.5);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  
}
.form-title1 {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.username_section{
  width: 80%;
  display: grid;
  margin-bottom: 30px;
}
.password_section{
  width: 80%;
  display: grid;
  margin-bottom: 30px;
}
.username_label,.password_label{
  font-size: 25px;
}
.username_input,.password_input {
  padding: 5px;
  font-size: 25px;
  font-family: 'Sans';
  height: 4vh;
  border-radius: 10px;
}

.login_btn{
  width: 60%;
  height: 5vh;
  background-color: #00BFFF;
  font-family: 'Sans';
  color: white;
  border: none;
  font-size: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 1px rgba(0, 175, 255, 0.4) ;
  margin-bottom: 30px;
}
@font-face {
  font-family: 'Sans';
  src: url(/WorkSans-VariableFont_wght.ttf);
}
