<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="studentpage.css">
</head>
<body>
    <div class="hero">
        <img src="../public/images/greenview_logo.png" alt="">
        <p>GREENVIEW ACADEMY</p>
    </div >
        <div class="main">
            <div class="sidebar">
                <h2>Students Enrolled</h2>
                <ul>
                    <li><a href="mathematics" class="sidebar_link">MATHEMATICS</a></li>
                    <li><a href="#science" class="sidebar_link">SCIENCE</a></li>
                    <li><a href="#english" class="sidebar_link">ENGLISH</a></li>
                    <li><a href="#ghana_language" class="sidebar_link">GHANA LANGUAGE</a></li>
                    <li><a href="#French" class="sidebar_link">FRENCH LANGUAGE</a></li>
                    <li><a href="#creative_arts" class="sidebar_link">CREATIVE ARTS</a></li>
                    <li><a href="#social_studies" class="sidebar_link">Social Studies</a></li>
                    <li><a href="#rme" class="sidebar_link">R.M.E</a></li>
                    <li><a href="#physical_education" class="sidebar_link">Physical Education</a></li>
                    <li><a href="#computing" class="sidebar_link">Computing</a></li>
                    <li><a href="#carreer_tech" class="sidebar_link">Career Tech</a></li>
                </ul>
            </div>
            <div >
                <table>
                <thead>
                    <tr class="heading">
                        <th>Subject</th>
                        <th>Marks 30%</th>
                        <th>Marks 70%</th>
                        <th>Grade</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MATHEMATICS</td>
                        <td><input type="text" name="maths_marks_30" class="size"></td>
                        <td><input type="text" name="maths_mark_70"class="size"></td>
                        <td><input type="text" name="maths_math_grade"class="size"></td>
                        <td><select type="text" name="maths_remark"class="sizeR">
                            <option value="Excellent">Excellent</option>
                            <option value="Proficiency">Proficiency</option>
                            <option value="Approaching Proficiency">Approaching Proficiency</option>
                            <option value="Developing">Developing</option>
                            </select>
                        </td> 
                     </tr>
                    <tr>
                        <td>SCIENCE</td>
                        <td><input type="text" name="science_mark_30"class="size"></td>
                        <td><input type="text" name="science_mark_70"class="size"></td>
                        <td><input type="text" name="science_grade"class="size"></td>
                        <td><select type="text" name="science_remark"class="sizeR">
                            <option value="Excellent">Excellent</option>
                            <option value="Proficiency">Proficiency</option>
                            <option value="Approaching Proficiency">Approaching Proficiency</option>
                            <option value="Developing">Developing</option>
                            </select>
                        </td>         
                    </tr>
                    <tr>
                        <td>ENGLISH</td>
                        <td><input type="text" name="english_mark_30"class="size"></td>
                        <td><input type="text" name="english_mark_70"class="size"></td>
                        <td><input type="text" name="english_grade"class="size"></td>
                        <td><select type="text" name="english_remark"class="sizeR">
                            <option value="Excellent">Excellent</option>
                            <option value="Proficiency">Proficiency</option>
                            <option value="Approaching Proficiency">Approaching Proficiency</option>
                            <option value="Developing">Developing</option>

                        </td> 
                     </tr>
                    <tr>
                        <td>GHANA LANGUAGE</td>
                        <td><input type="text" name="ghanlanguage_mark_30"class="size"></td>
                        <td><input type="text" name="ghanlanguage_mark_70"class="size"></td>
                        <td><input type="text" name="ghanlanguage_grade"class="size"></td>
                        <td><select type="text" name="ghanlanguage_remarks"class="sizeR">
                            <option value="Excellent">Excellent</option>
                            <option value="Proficiency">Proficiency</option>
                            <option value="Approaching Proficiency">Approaching Proficiency</option>
                            <option value="Developing">Developing</option>
                            </select>
                        </td>                    
                    </tr>
                    <tr>
                        <td>FRENCH LANGUAGE</td>
                        <td><input type="text" name="french_marks_30"class="size"></td>
                        <td><input type="text" name="french_marks_70"class="size"></td>
                        <td><input type="text" name="french_grade"class="size"class="size"></td>
                        <td><select type="text" name="french_remark"class="sizeR">
                            <option value="Excellent">Excellent</option>
                            <option value="Proficiency">Proficiency</option>
                            <option value="Approaching Proficiency"></option>
                            <option value="Developing">Developing</option>

                        </td>
                    </tr>
                    <tr>
                        <td>SOCIAL STUDIES</td>
                        <td><input type="text" name="ss_marks_30"class="size"></td>
                        <td><input type="text" name="ss_marks_70"class="size"></td>
                        <td><input type="text" name="ss_marks_grade"class="size"></td>
                        <td><select type="text" name="ss_remark"class="sizeR">
                            <option value="Excellent">Excellent</option>
                            <option value="Proficiency">Proficiency</option>
                            <option value="Approaching Proficiency">Approaching Proficiency</option>
                            <option value="Developing">Developing</option>

                        </td>
                    </tr>
                    <tr>
                        <td>CREATIVE ARTS</td>
                        <td><input type="text" name=""class="size"></td>
                        <td><input type="text" name=""class="size"></td>
                        <td><input type="text" name=""class="size"></td>
                        <td><select type="text" name="ca_remark"class="sizeR">
                            <option value="Excellent">Excellent</option>
                            <option value="Proficiency">Proficiency</option>
                            <option value="Approaching Proficiency">Approaching Proficiency</option>
                            <option value="Developing">Developing</option>   
                            </select>
                            </td>                
                         </tr>
                    <tr>
                        <td>COMPUTING</td>
                        <td><input type="text" name="c_marks_30" ></td>
                        <td><input type="text" name="c_marks_70"></td>
                        <td><input type="text" name="c_marks_grade"></td>
                        <td><select type="text" name="computing_remark"class="sizeR">
                            <option value="Excellent">Excellent</option>
                            <option value="Proficiency">Proficiency</option>
                            <option value="Approaching Proficiency">Approaching Proficiency</option>
                            <option value="Developing">Developing</option> 
                            </select>   
                            </td>

                         </tr>
                    <tr>
                        <td>CAREER TECH</td>
                        <td><input type="text" name="ct_marks_30"></td>
                        <td><input type="text" name="ct_marks_70"></td>
                        <td><input type="text" name="ct_grade"></td>
                        <td><select type="text" name="ct_remark"class="sizeR">
                            <option value="Excellent">Excellent</option>
                            <option value="Proficiency">Proficiency</option>
                            <option value="Approaching Proficiency">Approaching Proficiency</option>
                            <option value="Developing">Developing</option>
                            </select>       
                            </td>            
                         </tr>
                    <tr>
                        <td>PHYSICAL EDUCATION</td>
                        <td><input type="text" name="pe_marks_30"></td>
                        <td><input type="text" name="pe_marks_70"></td>
                        <td><input type="text" name="pe_grade"></td>
                        <td><select type="text" name="pe_remark"class="sizeR">
                            <option value="Excellent">Excellent</option>
                            <option value="Proficiency">Proficiency</option>
                            <option value="Approaching Proficiency">Approaching Proficiency</option>
                            <option value="Developing">Developing</option>
                        </select> 
                        </td>
                        </tr>
                </tbody>
                    
        </table>
    </div>
    </div>
</body>
</html>