<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Students</title>
    <link rel="stylesheet" href="student.css" />
  </head>
  <body>
    <div class="student-list">
      <div class="hero">
        <img src="../public/images/greenview_logo.png" alt="" />
        <h1 class="name">GREENVIEW ACADEMY</h1>
      </div>
      <div class="header">
        <select name="classes" class="drop" id="classDropdown">
          <option value="all">All Classes</option>
          <option value="JHS1">JHS1</option>
          <option value="JHS2">JHS2</option>
          <option value="JHS3">JHS3</option>
        </select>
      </div>
      <div id="student">
        <!--Stdents details will be dynamically inserted here-->
      </div>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
